*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#FFFFFF;
  line-height:1.6;
}

#showcase{
  background-image:url('background.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}


#showcase h1{
  font-size:50px;
  line-height:1.2;
}

h1,h2,h3{
	color:#fd776b;
}
#showcase p{
  font-size:12px;
color:#FFFFFF;
}

button, input{
  font-size:18px;
  text-decoration:none;
  color:#050a30;
  1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
  background:#FFFFFF;
}

#section-a{
  padding:20px;
  background:#050a30;
  color:#FFFFFF;
  text-align:center;
}

#section-c{
  display:flex;
	margin-bottom: -1px;
	margin-top: -1px;
	margin-left: -1px;
	margin-right: -1px;
}

#section-c div{
  padding:20px;	
  color: #050a30;
}

#section-c .box-1, #section-c .box-3{
  background:#050a30;
  color:#FFFFFF;
  width:33%;
}
#section-c ul{
  padding-left:20px;
}

#section-c .box-2{
  background:#050a30;
  color:#FFFFFF;
  width:33%;
}

#section-d{
  padding:20px;
  background:#050a30;
  color:#FFFFFF;
  text-align:center;
}
