*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#FFFFFF;
  background-color:#050a30;
  line-height:1.6;
}
#showcase {
	display:flex;

}
#showcase .box-1, #showcase .box-2{
  align-items:center;
  text-align:center;
  vertical-align:center;
  background:#050a30;
  color:#FFFFFF;
  width:49%;
  margin: auto;
}

#showcase h1{
  font-size:50px;
  line-height:1.2;
}

#showcase h1{
	font-size:56px;
}
#showcase h2{
	font-size:36px;
}
h1,h2,h3{
	color:#fd776b;
}
#showcase p{
  font-size:16px;
color:#FFFFFF;
}

button, input{
  font-size:18px;
  text-decoration:none;
  color:#050a30;
  1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
  background:#FFFFFF;
}

#section-a{
  padding:20px;
  background:#050a30;
  color:#FFFFFF;
  text-align:center;
}

#section-c{
  display:flex;
	margin-bottom: -1px;
	margin-top: -1px;
	margin-left: -1px;
	margin-right: -1px;
}

#section-c div{
  padding:20px;	
  color: #050a30;
}


#section-c ul{
  padding-left:20px;
}

#section-c .box-2{
  background:#050a30;
  color:#FFFFFF;
  width:33%;
}

#section-d{
  padding:20px;
  background:#050a30;
  color:#FFFFFF;
  text-align:center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 60%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 10px 18px;
  background-color: #050a30;
  color:white;
  display: none;
  overflow: hidden;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
